{% load static %}


<li>
    <article class = "post">
        <a href = "{% url "post-detail-page" "the-mountains"%}">

            <img src = "{% static "blog/images/mountains.jpg" %}" alt = "Mountain Hiking" />
            <div class = "post__content">
                <h2> Mountain Hiking </h2>
                <p>There's is nothing like views you get when hiking in the mountains! 
                    I wasn't even prepared for what happend whilst I was enjoying the view!
                </p>
            </div>

        </a>


    </article>


</li>